html
    head
        title
            |Верстка e-mail письма

        link(rel="stylesheet", href="css/bundle.css")
        //-link(rel="stylesheet", href="css/font-awesome.min.css")
        script(src="js/jquery-3.1.1.js")

body
    .container
        header
            .web_version
                .pic
                    img(src="images/web_version.png", alt="")
                a(href="#")
                    |веб-версия
        .diagramms
            h4
                |Здравствуйте, Veronika!
            p
                |Что делать, если спрос на уникальный сложный продукт не сформирован, а потому черпает из интернета минимум трафика?
            p
                |Главная проблема продукта нашего клиента заключалась в его уникальности, ведь конкретно его почти никто в интернете не искал.
            p
                |По данным сервиса Wordstat, по брендовому запросу было всего 601 показ в месяц. Кроме того, продукт проигрывал в популярности конкурентам.
            p
                |Однако многие специалисты "Комплето" знали, как работать с несформированным спросом, и по нашим прогнозам мы выявили реальную возможность изменить структуру спроса.
            .prognoz
                h4
                    |Сделан прогноз при работе с контент-маркетингом
                p
                    |Реальная возможность изменить структуру спроса
                .disks
                    .current
                        img(src="images/current.png", alt="")
                        .desc
                            h4
                                |Текущий спрос
                    .future
                        img(src="images/future.png", alt="")
                        .desc
                            h4
                                |Возможный спрос
            .legend
                |(Рис.1) Красный - спрос на продукт нашего клиента
        .questions
            .banner
            .vopr
                h3
                    |1. Разработали полное семантическое ядро
                p
                    |При разработке семантического ядра будущего сайта мы подбирали запросы по следующим категориям:
                ul
                    li
                        |брендовые запросы
                    li
                        |синонимы бренда
                    li
                        |товары-заменители
                    li
                        |бренды и модели конкурентов
                    li
                        |выполняющие ту же функцию
                p
                    |Число запросов было увеличино в 41 раз!
                h3
                    |2. Нашли новые сегменты целевой аудитории.
                p
                    |Изначально клиент подал нам 4 группы целевой аудитории продукта,
                    |но мы поискали покупателей и в других сферах
                h3
                    |3. Разработали Стратегию Электронного Маркетинга.
                p
                    |Собрав всю информацию о бизнесе клиента воедино, мы разработали комплексную стратегию электронного маркетинга и тактический план для реализации поставленных бизнес-задач
                h3
                    |4. Разработали новый сайт под семантическое ядро аудитории.
                p
                    |Подробнее о ходе разработки дизайна мы описали в 
                    span
                        a(href="#")
                            |статье
                .banner2
                    img(src="images/banner2.png", alt="")
                .legend
                    |(Рис.2) Прототип страницы сайта www.amfibia.ru
                h3
                    |5. Нашли интересные SEO-решения.
                p
                    |Остро встал вопрос по части SEO – как привлечь дополнительный трафик, сохранив "промо-формат" сайта с небольшим количеством текста? Мы придумали решение - разместить информацию во всплывающих окнах, которые появляются при нажатии на каждую иконку сайта. Также нам удалось обойтись без покупок ссылок. Подробнее - в 
                    a(href="#")
                        |статье.