html
    head
        title
            |Верстка e-mail письма

        link(rel="stylesheet", href="css/bundle.css")
        //-link(rel="stylesheet", href="css/font-awesome.min.css")
        script(src="js/jquery-3.1.1.js")

body
    .container
        header
            .banner
                img(src="images/banner.png", alt="")
                .web_version
                    .pic
                        img(src="images/web_version.png", alt="")
                    a(href="#")
                        |веб-версия
        .diagramms
            h4
                |Здравствуйте, Veronika!
            p
                |Что делать, если спрос на уникальный сложный продукт не сформирован, а потому черпает из интернета минимум трафика?
            p
                |Главная проблема продукта нашего клиента заключалась в его уникальности, ведь конкретно его почти никто в интернете не искал.
            p
                |По данным сервиса Wordstat, по брендовому запросу было всего 601 показ в месяц. Кроме того, продукт проигрывал в популярности конкурентам.
            p
                |Однако многие специалисты "Комплето" знали, как работать с несформированным спросом, и по нашим прогнозам мы выявили реальную возможность изменить структуру спроса.
            .prognoz
                h4
                    |Сделан прогноз при работе с контент-маркетингом
                p
                    |Реальная возможность изменить структуру спроса
                .disks
                    .current
                        img(src="images/current.png", alt="")
                        .desc
                            h4
                                |Текущий спрос
                    .future
                        img(src="images/future.png", alt="")
                        .desc
                            h4
                                |Возможный спрос
            .legend
                |(Рис.1) Красный - спрос на продукт нашего клиента
        .questions
            .banner
                img(src="images/aircraft_banner.png", alt="")
            .vopr
                h3
                    |1. Разработали полное семантическое ядро
                p
                    |При разработке семантического ядра будущего сайта мы подбирали запросы по следующим категориям:
                ul
                    li
                        |брендовые запросы
                    li
                        |синонимы бренда
                    li
                        |товары-заменители
                    li
                        |бренды и модели конкурентов
                    li
                        |выполняющие ту же функцию
                p
                    |Число запросов было увеличино в 41 раз!
                h3
                    |2. Нашли новые сегменты целевой аудитории.
                p
                    |Изначально клиент подал нам 4 группы целевой аудитории продукта,
                    |но мы поискали покупателей и в других сферах
                h3
                    |3. Разработали Стратегию Электронного Маркетинга.
                p
                    |Собрав всю информацию о бизнесе клиента воедино, мы разработали комплексную стратегию электронного маркетинга и тактический план для реализации поставленных бизнес-задач
                h3
                    |4. Разработали новый сайт под семантическое ядро аудитории.
                p
                    |Подробнее о ходе разработки дизайна мы описали в 
                    span
                        a(href="#")
                            |статье
                .banner2
                    img(src="images/banner2.png", alt="")
                .legend
                    |(Рис.2) Прототип страницы сайта www.amfibia.ru
                h3
                    |5. Нашли интересные SEO-решения.
                p
                    |Остро встал вопрос по части SEO – как привлечь дополнительный трафик, сохранив "промо-формат" сайта с небольшим количеством текста? Мы придумали решение - разместить информацию во всплывающих окнах, которые появляются при нажатии на каждую иконку сайта. Также нам удалось обойтись без покупок ссылок. Подробнее - в 
                    a(href="#")
                        |статье.
        .result
            .banner
                img(src="images/result_banner.png", alt="")
            .content
                img(src="images/diagramma.png", alt="")
                .legend
                    |(Рис. 3) График роста продаж
                ul
                    li
                        |Открыли новые целевые группы аудитории и нашли дополнительные и наш дополнительные источники прибыли для компании;
                    li
                        |Увеличили семантическое ядро в 41 раз;
                    li
                        |Увеличили трафик сайта на 68% при небольшом количестве текстов;
                    li
                        |Уменьшили на 22% показатель ухода с сайта
                    li
                        |Увеличили в 18 раз количество заявок
                h4
                    |Поверьте, эти результаты достижимы
                .btn
                    |Читать статью
        .author
            .banner
                img(src="images/author_banner.png", alt="")
            .content
                p
                    |Понравилась статья? Сохраните её к себе:
                .social
                    a(href="#")
                        img(src="images/vk.png", alt="")
                    a(href="#")
                        img(src="images/fb.png", alt="")
                    a(href="#")
                        img(src="images/twitter.png", alt="")
                    a(href="#")
                        img(src="images/google.png", alt="")
                .spam
                    p
                        |К сожалению, иногда наши письма попадают в "спам".<br/>
                        |Особенно часто это происходит в том случае, если Вы оформили
                        |подписку на корпоративный ящик. Чтобы не пропустить ни одной
                        |депеши, пожалуйста, добавьте наш адрес 
                        a(href="mailto:press-room@completo.ru")
                            |press-room@completo.ru
                        |  в адресную книгу.
        footer
            .logo
                img(src="images/logo_completo_footer.png", alt="")
            p
                |Мы открыты для общения.<br/>
                |Присоединяйтесь к нам в социальных сетях:
            .social
                a(href="#")
                    img(src="images/vk_f.png", alt="")
                a(href="#")
                    img(src="images/fb_f.png", alt="")
                a(href="#")
                    img(src="images/twitter_f.png", alt="")
                a(href="#")
                    img(src="images/google_f.png", alt="")
                a(href="#")
                    img(src="images/youtube_f.png", alt="")
                a(href="#")
                    img(src="images/img_6_f.png", alt="")
                a(href="#")
                    img(src="images/linked_id_f.png", alt="")
            h4
                |Приходите в гости
            .address
                |107140, Москва ул. Курсовой переулок 17с1, мансарда<br/>
                |+7 (495) 640-89-97<br/>
                a(href="mailto:contact@completo.ru")
                    |contact@completo.ru
            .unsubscribe
                p
                    |Вы получили это письмо, поскольку интересуетесь интернет-маркетингом для В2В и сложных рынков и подписались на нашу рассылку "Депеша от Комплето". Если Вам больше не интересно получать от нас полезный и бесплатный контент, Вы можете отписаться.<br/>
                    a(href="#")
                        |Отписаться